body {
  background-color: #F2F2F2;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #18814B;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

a {
  transition: all 0.500s ease;
}

blockquote.lider-mensaje {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

blockquote.lider-mensaje p {
  font-size: 1.3em;
}

blockquote.lider-mensaje::before {
  color: #6AABEE;
  content: "\f10d";
  font-family: "FontAwesome";
  position: absolute;
  left: 5px;
  top: 0;
}

blockquote.lider-mensaje::after {
  color: #6AABEE;
  content: "\f10e";
  font-family: "FontAwesome";
  position: absolute;
  right: 5px;
  bottom: 0;
}

.container {
  background-color: #fff;
}

.box-slider-main,
.box-servicios-actualidad,
.box-fotos-videos,
.box-documentos-interes,
.box-lideres,
.box-enlaces-interes,
.box-footer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.box-slider-main {
  padding-top: 0;
}

.box-footer {
  padding-bottom: 0;
}

.documentos-interes,
.lideres_carousel {
  padding: 30px 15px;
}

.nav-desktop {
  background-color: #0A8730;
  border-bottom: 8px solid #85C226;
  box-sizing: border-box;
  padding: 0.7em 1em;
  height: 62px;
  max-width: 100%;
  width: 100%;
}

.nav-desktop .logo-drea {
  max-height: 45px;
}

.nav-desktop.fixed {
  margin: 0 auto;
  position: fixed;
  width: 1140px;
  max-width: 100%;
  z-index: 99999;
}

.nav-main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.nav-main .nav-item,
.nav-main .nav-link {
  height: 54px;
}

.nav-main .nav-item.nav-dropdown:hover .mega-dropdown,
.nav-main .nav-item.nav-dropdown:hover .caret {
  display: block;
}

.nav-main .nav-item:hover .nav-link::before {
  background-color: #fff;
  content: "";
  height: 4px;
  width: 96%;
  position: absolute;
  top: 4px;
  left: 2%;
}

.nav-main .nav-link {
  color: #fff;
  text-align: center;
  position: relative;
}

.active .nav-link::before {
  background-color: #fff;
  content: "";
  height: 4px;
  width: 96%;
  position: absolute;
  top: 4px;
  left: 2%;
}

.caret {
  display: none;
  position: relative;
  height: 0;
  width: 100%;
}

.caret::before {
  content: "";
  border-style: solid;
  border-color: #85C226 transparent transparent transparent;
  border-width: 10px 10px;
  height: 0;
  margin-left: -10px;
  position: absolute;
  top: 8px;
  left: 50%;
  width: 0;
  z-index: 100;
}

/*Contenedor de los submenus*/

.mega-dropdown {
  display: none;
  border-top: 20px solid transparent;
  position: relative;
  width: auto;
  z-index: 100;
}

.mega-dropdown-item {
  margin-left: 0;
  margin-right: 0;
  padding: 15px 0 10px 0;
  /*Esto es la mitad del ancho*/
  margin-left: -160px;
  position: absolute;
  left: 50%;
  /*Modificar ancho si es necesario*/
  width: 320px;
}

.mega-dropdown-link {
  padding: 5px;
  border-bottom: thin dotted #5A0029;
  display: block;
  color: #fff;
}

.mega-dropdown-link:last-child {
  border-bottom: 0;
}

.mega-dropdown-link:hover {
  color: #1E1C1C;
}

.dropdown-bg {
  background-color: #1AA644;
}

body.nav-opened .site-container {
  overflow-x: hidden;
  transform: translate3D(-350px, 0, 0);
  transition: transform 0.3s ease;
  z-index: -1;
}

body.nav-opened .nav-mobile {
  opacity: 1;
  transition: transform 0.3s ease, opacity 0s ease 0s;
  transform: translate3D(0, 0, 0);
}

body.nav-opened .nav-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 320px;
  bottom: 0;
  z-index: 200;
}

body.nav-opened.window-resize .site-container {
  overflow-x: hidden;
  transform: translate3D(0, 0, 0);
  transition: transform 0.3s ease;
  z-index: 100;
}

body.nav-opened.window-resize .nav-mobile {
  opacity: 1;
  transition: transform 0.3s ease, opacity 0s ease 0s;
  transform: translate3D(0, 0, 0);
}

body.nav-opened.window-resize .nav-cover {
  display: none;
}

body.nav-closed .nav-mobile {
  transform: translate3D(250px, 0, 0);
}

.nav-mobile {
  background-color: #0A8730;
  border-top: 10px solid #85C226;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  width: 320px;
  opacity: 0;
  margin-bottom: 0;
  text-align: left;
  z-index: 1;
  transition: transform 0.5s ease, opacity 0.3s ease 0.7s;
}

.nav-mobile .logo-drea {
  display: block;
  max-width: 230px;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 35px;
}

.nav-mobile .nav-main {
  border-top: 2px solid #85C226;
  margin-top: 1em;
  padding-top: 1em;
}

.nav-mobile .nav-main .nav-item,
.nav-mobile .nav-main .nav-link {
  height: auto;
}

.nav-mobile .nav-main .nav-item:hover .nav-link::before {
  content: "";
  height: 0;
  width: 0;
}

.nav-mobile .nav-main .nav-item.active .nav-link {
  color: #1E1C1C;
}

.nav-mobile .nav-main .nav-item.active .nav-link::before {
  content: "";
  height: 0;
  width: 0;
  position: initial;
}

.nav-mobile .nav-main .nav-item.nav-dropdown:hover .caret {
  display: none;
}

.nav-mobile .mega-dropdown {
  border-top: 0;
}

.nav-mobile .mega-dropdown-item {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0;
  position: initial;
  left: 0;
  width: 100%;
}

.nav-mobile .mega-dropdown-item > div {
  border-right: 0;
  border-bottom: 1px solid #5A0029;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-mobile .mega-dropdown-item > div:last-child {
  border-bottom: 0;
}

.nav-mobile .mega-dropdown-item > div:last-child::after {
  display: none;
}

.nav-mobile .mega-dropdown-item > div::after {
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #5A0029 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #1AA644;
  border-radius: 100%;
  box-shadow: #1AA644 0 0 0 5px;
}

.nav-mobile .mega-dropdown-item h3 {
  margin: 10px 0;
  font-size: 18px;
}

.nav-mobile .mega-dropdown-link {
  padding: 10px 5px;
}

.nav-icono {
  background: #3DB160;
  border: thin solid #C0BCBC;
  border-radius: 3px;
  height: 40px;
  width: 47px;
}

.nav-icono span {
  display: block;
  background: #fff;
  border-radius: 2px;
  position: relative;
  height: 4px;
  width: 30px;
}

.nav-icono span::before,
.nav-icono span::after {
  content: "";
  background: #fff;
  border-radius: 2px;
  height: 4px;
  width: 30px;
  position: absolute;
}

.nav-icono span::before {
  top: -10px;
}

.nav-icono span::after {
  bottom: -10px;
}

.nav-cerrar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background: #85C226;
  border: thin solid #0A8730;
  border-radius: 50%;
  border: 2px solid #3B3636;
  box-shadow: 3px 0px 0px 0px #323232;
  color: #fff;
  font-size: 25px;
  padding: 5px 15px;
  height: 45px;
  width: 45px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 10000;
}

.nav-cerrar:hover {
  color: #fff;
  text-decoration: none;
}

.box-logos {
  margin-top: 0.5em;
}

.box-logos > img {
  max-height: 60px;
}

.box-enlaces-drea {
  margin-top: 0.5em;
}

.img-meta-veinte img {
  margin-left: 10px;
  margin-top: 5px;
}

.enlaces-drea {
  margin-bottom: 0.5em;
}

.enlaces-drea .enlaces-item {
  box-sizing: border-box;
  margin-left: 5px;
}

.enlaces-drea .enlaces-item:first-child {
  margin-left: 0;
}

.enlaces-drea a {
  color: #009933;
  text-decoration: none;
}

.enlaces-drea .box-icono {
  background-color: #009933;
  border: thin solid transparent;
  border-radius: 50%;
  color: #fff;
  transition: all 0.500s ease;
  margin-right: 5px;
  height: 30px;
  width: 30px;
}

.enlaces-drea .fa {
  font-size: 1em;
}

.box-buscador {
  padding-bottom: 0.5em;
}

.box-buscador .buscador-form {
  margin-top: -10px;
  position: relative;
}

.box-buscador .buscador-form .js_icono_buscador {
  color: #B0AEAE;
  position: absolute;
  right: 5px;
  top: 12px;
}

.box-buscador .buscador-form .form-control {
  padding-right: 25px;
}

.site-container {
  position: relative;
  z-index: 10;
  min-height: 100%;
  transition: transform 0.5s ease;
}

.titulo {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
}

.titulo::before {
  background-color: #0A8730;
  content: "";
  margin-left: -5%;
  height: 5px;
  width: 10%;
  position: absolute;
  bottom: -7px;
  left: 50%;
  z-index: 99;
}

.box-slider-main {
  padding-left: 0;
  padding-right: 0;
}

.carousel-main h2 {
  color: #fff;
}

.lista-servicios {
  margin-bottom: 0;
}

.lista-servicios .servicios-item {
  border: thin solid transparent;
  box-sizing: border-box;
  transition: all 0.500s linear;
  padding: 5px;
  margin-bottom: 10px;
  width: 50%;
}

.lista-servicios .servicios-item:hover {
  border: thin dotted #18814B;
}

.lista-servicios .servicios-link {
  text-decoration: none !important;
}

.lista-servicios .servicios-link:visited {
  text-decoration: none;
}

.lista-servicios .servicios-link .fa {
  color: #666666;
  font-size: 2.5em;
  width: 40px;
  margin-right: 5px;
}

.lista-servicios .servicios-contenido {
  width: 77%;
}

.lista-servicios .servicios-contenido small {
  color: #272525;
}

.lista-servicios .servicios-titulo {
  color: #18814B;
  font-size: 1.1em;
}

.actualidad-cabecera {
  position: relative;
}

.actualidad-ver-todos {
  background-color: #55D783;
  border: 2px solid #0A872F;
  color: #fff;
  letter-spacing: 2px;
  margin-left: 10px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.actualidad-ver-todos:hover {
  color: #3D3939;
}

.actualidad-ver-todos:visited {
  color: #fff;
}

.actualidad {
  margin-bottom: 1em;
}

.actualidad:last-child {
  margin-bottom: 0;
}

.actualidad .image {
  background-size: cover;
  background-position: center center;
  height: 145px;
  width: 30%;
}

.actualidad .actualidad-contenido {
  margin-left: 2%;
  width: 68%;
}

.actualidad .actualidad-vinculo {
  color: #18814B;
}

.actualidad .actualidad-titulo {
  color: inherit;
  font-size: 1.1em;
  margin-bottom: 0.7em;
}

.actualidad .actualidad-parrafo {
  font-size: 0.9em;
  margin-bottom: 0.7em;
}

.actualidad .actualidad-meta-leer-mas {
  background-color: #55D783;
  border: thin solid transparent;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
}

.actualidad .actualidad-meta-leer-mas:hover {
  border: thin solid #0A872F;
  color: #3D3939;
}

.actualidad .actualidad-meta-leer-mas:visited {
  color: #fff;
}

.actualidad .actualidad-meta-parrafo {
  font-size: 0.8em;
}

.actualidad .actualidad-meta-parrafo {
  margin-bottom: 0;
  padding-top: 10px;
}

.fotos-carousel {
  max-height: 304px !important;
  overflow: hidden;
}

.owl-theme .item {
  position: relative;
}

.info {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  padding: 3%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.ih-item.effect13 .info {
  background: #333;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: all .35s ease-in-out;
}

.ih-item.effect13 .info h3 {
  visibility: hidden;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 55px 0 0 0;
  height: 110px;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: all .35s ease-in-out;
}

.ih-item.effect13 .info p {
  visibility: hidden;
  color: #bbb;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  transition: all .35s ease-in-out;
}

.ih-item.effect13 a:hover .info {
  opacity: 1;
}

.ih-item.effect13 a:hover h3 {
  visibility: visible;
}

.ih-item.effect13 a:hover p {
  visibility: visible;
}

.ih-item.effect13.from_left_and_right .info h3 {
  transform: translateX(-100%);
}

.ih-item.effect13.from_left_and_right .info p {
  transform: translateX(100%);
}

.ih-item.effect13.from_left_and_right a:hover h3 {
  transform: translateX(0);
}

.ih-item.effect13.from_left_and_right a:hover p {
  transform: translateX(0);
}

.slider-videos .bx-controls-direction a {
  transition: none;
}

.documentos-interes {
  background-color: #91DBA7;
}

.documentos-interes-link {
  color: #484646;
  font-size: 1em;
  text-decoration: none !important;
}

.documentos-interes-link:hover {
  color: #2e2d2d;
}

.documentos-interes-link .fa {
  color: #666666;
  font-size: 2em;
  margin-right: 10px;
}

.box-lideres {
  padding-left: 0;
  padding-right: 0;
}

.lideres_carousel {
  background-color: #ECF0F1;
}

.lider-drea .foto {
  border: 5px solid #6AABEE;
  margin: auto;
  height: 200px !important;
  width: 200px !important;
}

.lider-drea .lider-nombre {
  margin-bottom: 15px;
}

.box-redes-sociales {
  width: 50px;
  position: fixed;
  right: 1px;
  top: 50%;
  z-index: 9999999999;
}

.redes-sociales {
  margin-bottom: 0;
}

.redes-sociales .redes-item {
  overflow: hidden;
  border-bottom: thin solid #fff;
}

.redes-sociales .redes-item:first-child {
  border-radius: 12px 0 0 0;
}

.redes-sociales .redes-item:last-child {
  border-radius: 0 0 0 12px;
  border-bottom: 0;
}

.redes-sociales .redes-link {
  background-color: #FCA086;
  text-decoration: none;
  height: 50px;
  width: 50px;
}

.redes-sociales .fa {
  color: #fff;
  font-size: 2em;
  transition: all 0.300s linear;
}

.redes-sociales .fa:hover {
  color: #3A3737;
}

.cover {
  background-size: cover;
  background-position: center center;
  margin-bottom: 2em;
  height: 350px;
  width: 100%;
}

.contenido__articulo img {
  margin-bottom: 1em;
}

.lista-compartir-redes li {
  margin-right: 10px;
}

.lista-compartir-redes li:last-child {
  margin-right: 0;
}

.lista-compartir-redes li a {
  color: #fff;
  text-decoration: none;
  height: 30px;
  width: 50px;
}

.lista-compartir-redes li a .fa {
  font-size: 1.2em;
}

.lista-compartir-redes li .facebook {
  background-color: #336699;
}

.lista-compartir-redes li .facebook:hover i {
  color: #111;
}

.lista-compartir-redes li .twitter {
  background-color: #0099CC;
}

.lista-compartir-redes li .twitter:hover i {
  color: #111;
}

.lista-compartir-redes li .google-plus {
  background-color: #DB4437;
}

.lista-compartir-redes li .google-plus:hover i {
  color: #111;
}

.galeria-lightbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 2em;
}

.galeria-lightbox.result_slider {
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 2em;
}

.galeria-lightbox.result_slider .item {
  white-space: nowrap;
  width: 100%;
}

.galeria-lightbox.result_slider .item .slide {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
}

.galeria-lightbox .item {
  margin-bottom: 10px;
  overflow: hidden;
  width: 33%;
}

.galeria-lightbox .zoom {
  display: block;
  position: relative;
}

.galeria-lightbox .zoom:hover img {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -moz-transform: scale(1.3);
}

.galeria-lightbox .zoom:hover span.overlay {
  display: block;
  visibility: visible;
  opacity: 0.55;
  -moz-opacity: 0.55;
  -webkit-opacity: 0.55;
  filter: alpha(opacity=65);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}

.galeria-lightbox .zoom img {
  transition: all 0.5s;
  margin-bottom: 0;
}

.galeria-lightbox .zoom span.overlay {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -webkit-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
}

.galeria-lightbox .zoom span.overlay i {
  position: absolute;
  top: 45%;
  left: 0%;
  width: 100%;
  font-size: 2.25em;
  color: #fff !important;
  text-align: center;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

.modal-dialog {
  position: relative;
}

.ekko-lightbox-close {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background: #FFFFFF;
  border-radius: 100%;
  border: 3px solid #484242;
  color: #484242;
  cursor: pointer;
  font-size: 1.5em;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 99999;
}

.ekko-lightbox-item.fade.show .img-fluid {
  height: 100%;
}

.ekko-lightbox .modal-footer {
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.5);
  border-top: 0;
  color: #fff;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  margin-bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
}

.titulo-noticias-relacionadas {
  font-weight: 500;
}

.link-noticias-relacionadas {
  color: #18814B;
  text-decoration: none !important;
}

.link-noticias-relacionadas:hover {
  color: #1a8e53;
}

.link-noticias-relacionadas:visited {
  color: #18814B !important;
}

.link-noticias-relacionadas h5 {
  color: inherit;
  font-size: 16px;
  font-weight: 700;
}

.time-noticias-relacionadas {
  font-size: 12px;
}

.container-disqus {
  margin-top: 2em;
}

.footer {
  background: #666666;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer div small {
  line-height: 20px;
}

.footer hr {
  border-top: thin solid #fff;
}

.footer .footer-titulo {
  color: #fff;
  margin-bottom: 20px;
}

.footer .redes-sociales .redes-link {
  border-radius: 50%;
  color: #fff;
  height: 30px;
  width: 30px;
}

.footer .redes-sociales .redes-link:hover {
  background-color: #fff;
}

.footer .redes-sociales .facebook {
  background-color: #336699;
}

.footer .redes-sociales .facebook:hover i {
  color: #336699;
}

.footer .redes-sociales .twitter {
  background-color: #0099CC;
}

.footer .redes-sociales .twitter:hover i {
  color: #336699;
}

.footer .redes-sociales .youtube {
  background-color: #CC3333;
}

.footer .redes-sociales .youtube:hover i {
  color: #CC3333;
}

.footer .redes-sociales .fa {
  font-size: 1.2em;
}

.footer .footer-img-meta-veinte {
  margin-left: -30px;
  height: 70px;
}

.footer .drea {
  text-align: center;
}

.footer .drea p {
  margin-bottom: 0;
}

.footer .footer-libro {
  color: #fff;
  margin: 0.5em auto;
}

.footer .footer-libro a {
  color: inherit;
  text-decoration: none;
  border-bottom: thin dotted #fff;
  line-height: 1.2;
  font-size: 1.2em;
  margin-top: 1em;
}

.footer .footer-libro:visited {
  color: #fff;
}

.footer .footer-eslogan {
  margin: 0.5em 0;
}

.footer .footer-eslogan p {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-left: 0.5em;
  padding-top: 0.5em;
}

.footer .copyright-drea {
  text-align: right;
}

.dev {
  background-color: #333;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.dev a {
  color: #fff;
  font-size: 12px;
}

a.up {
  background: #EF6752;
  border: 2px solid #ee5b44;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 999999999;
}

a.up:focus {
  outline: none;
}

a.up:hover {
  background: #f07360;
}

a.up i {
  font-size: 1.5em;
}

.box-up {
  height: 35px;
  width: 30px;
}

@media (max-width: 1199px) {
  .nav-desktop.fixed {
    width: 960px;
  }

  .box-logos > img {
    max-height: 40px;
  }

  .img-meta-veinte img {
    margin-top: 0;
    max-height: 40px;
  }

  .box-buscador .buscador-form {
    margin-top: 0;
  }

  .fotos-carousel {
    max-height: 252px !important;
  }

  .documentos-interes > div + div {
    margin-bottom: 1.5em;
  }
}

@media (max-width: 991px) {
  .nav-desktop.fixed {
    width: 720px;
  }

  .box-logos,
  .box-enlaces-drea {
    border-top: 3px solid #0A8730;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .enlaces-drea {
    margin-bottom: 0;
    padding-top: 0.5em;
  }

  .box-buscador {
    -ms-flex-order: 3;
    order: 3;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }

  .carousel-main h2 {
    font-size: 1.2em;
  }

  .servicios {
    margin-bottom: 2em;
  }

  .fotos-carousel {
    max-height: 350px !important;
    margin-bottom: 2em;
  }
}

@media (max-width: 767px) {
  .nav-desktop.fixed {
    width: 540px;
  }

  .img-meta-veinte img {
    margin-left: 0;
  }

  .carousel-main h2 {
    font-size: 1.1em;
  }

  .lista-servicios .servicios-item {
    width: 100%;
  }

  .lista-servicios .servicios-item:last-child {
    margin-bottom: 0;
  }

  .lider-drea .lider-foto {
    margin-bottom: 15px;
  }

  .lider-drea .foto {
    display: block;
    height: 150px !important;
    width: 150px !important;
  }

  .galeria-lightbox .item {
    width: 49%;
  }

  .ekko-lightbox-close {
    top: -5px;
    right: -5px;
  }

  .box-noticias-relacionadas > div {
    margin-bottom: 1.5em;
  }

  .footer > div {
    border-top: thin dotted #fff;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .footer > div:first-child {
    border-top: 0;
    padding-top: 0;
  }

  .footer > div:last-child {
    padding-bottom: 0;
  }

  .footer .footer-contacto {
    margin-bottom: 1.5em;
  }

  .footer .footer-img-meta-veinte {
    margin-left: 0;
  }

  .footer .copyright-drea {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .nav-desktop.fixed {
    width: 100%;
  }

  .carousel-main h2 {
    font-size: 1em;
  }

  .actualidad .image {
    width: 35%;
  }

  .actualidad .actualidad-contenido {
    width: 63%;
  }

  .documentos-interes > div + div:last-child {
    margin-bottom: 0;
  }

  .galeria-lightbox .item {
    width: 48%;
  }
}

@media (min-height: 230px) {
  .nav-mobile {
    overflow-y: scroll;
  }
}
/*# sourceMappingURL=screen.dev.css.map */
