body {
  background-color: #F2F2F2;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

a {
  transition: all 0.500s ease;
}

blockquote {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

blockquote p {
  font-size: 1.3em;
}

blockquote::before {
  color: #6AABEE;
  content: "\f10d";
  font-family: "FontAwesome";
  position: absolute;
  left: 5px;
  top: 0;
}

blockquote::after {
  color: #6AABEE;
  content: "\f10e";
  font-family: "FontAwesome";
  position: absolute;
  right: 5px;
  bottom: 0;
}

.container {
  background-color: #fff;
}

.box-servicios-actualidad,
.box-fotos-videos,
.box-documentos-interes,
.box-lideres,
.box-enlaces-interes,
.box-footer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.box-footer {
  padding-bottom: 0;
}

.box-logos {
  margin-top: 0.5em;
}

.box-logos > img {
  max-height: 60px;
}

.box-redes-sociales {
  margin-top: 0.5em;
}

.img-meta-veinte img {
  margin-left: 10px;
  margin-top: 5px;
}

.redes-sociales {
  margin-bottom: 0.5em;
}

.redes-sociales li {
  box-sizing: border-box;
}

.redes-sociales li a {
  color: #009933;
  text-decoration: none;
}

.redes-sociales li .fa {
  background-color: #009933;
  border-radius: 50%;
  border: thin solid transparent;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  transition: all 0.500s ease;
  height: 30px;
  width: 30px;
  padding-top: 5px;
}

.redes-sociales li .fa.fa-facebook:hover {
  background-color: #fff;
  border: thin solid #336699;
  color: #336699;
}

.redes-sociales li .fa.fa-twitter:hover {
  background-color: #fff;
  border: thin solid #0099CC;
  color: #0099CC;
}

.redes-sociales li .fa.fa-youtube:hover {
  background-color: #fff;
  border: thin solid #CC3333;
  color: #CC3333;
}

.redes-sociales li .fa-facebook {
  background-color: #336699;
}

.redes-sociales li .fa-twitter {
  background-color: #0099CC;
}

.redes-sociales li .fa-youtube {
  background-color: #CC3333;
}

.box-buscador {
  padding-bottom: 0.5em;
}

.box-buscador .buscador-form {
  margin-top: -10px;
  position: relative;
}

.box-buscador .buscador-form .js_icono_buscador {
  color: #B0AEAE;
  position: absolute;
  right: 5px;
  top: 12px;
}

.box-buscador .buscador-form .form-control {
  padding-right: 25px;
}

.logo-mobile.d-flex {
  display: none !important;
}

.logo-mobile.d-flex .texto-drea {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 0;
}

.navbar {
  background-color: #36C171;
  margin-bottom: 1em;
}

.titulo {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
}

.titulo::before {
  background-color: #36C171;
  content: "";
  margin-left: -10%;
  height: 5px;
  width: 20%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  z-index: 100;
}

.lista-servicios .servicios-item {
  border: thin solid transparent;
  box-sizing: border-box;
  transition: all 0.500s linear;
  padding: 5px;
  margin-bottom: 10px;
  width: 50%;
}

.lista-servicios .servicios-item:hover {
  border: thin dotted #18814B;
}

.lista-servicios .servicios-link {
  text-decoration: none !important;
}

.lista-servicios .servicios-link:visited {
  text-decoration: none;
}

.lista-servicios .servicios-link .fa {
  color: #666666;
  font-size: 2.5em;
  width: 40px;
  margin-right: 5px;
}

.lista-servicios .servicios-contenido {
  width: 77%;
}

.lista-servicios .servicios-contenido small {
  color: #272525;
}

.lista-servicios .servicios-titulo {
  color: #18814B;
  font-size: 1.1em;
}

.actualidad-cabecera {
  position: relative;
}

.actualidad-ver-todos {
  background-color: #55D783;
  border: 2px solid #0A872F;
  color: #fff;
  letter-spacing: 2px;
  margin-left: 10px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.actualidad-ver-todos:hover {
  color: #3D3939;
}

.actualidad-ver-todos:visited {
  color: #fff;
}

.actualidad {
  margin-bottom: 1.5em;
}

.actualidad:last-child {
  margin-bottom: 0;
}

.actualidad .image {
  background-size: cover;
  background-position: center center;
  height: 145px;
  width: 30%;
}

.actualidad .actualidad-contenido {
  margin-left: 2%;
  width: 68%;
}

.actualidad .actualidad-vinculo {
  color: #18814B;
}

.actualidad .actualidad-titulo {
  color: inherit;
  font-size: 1.1em;
  margin-bottom: 0.7em;
}

.actualidad .actualidad-parrafo {
  font-size: 0.9em;
  margin-bottom: 0.7em;
}

.actualidad .actualidad-meta-leer-mas {
  background-color: #55D783;
  border: thin solid transparent;
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
}

.actualidad .actualidad-meta-leer-mas:hover {
  border: thin solid #0A872F;
  color: #3D3939;
}

.actualidad .actualidad-meta-leer-mas:visited {
  color: #fff;
}

.actualidad .actualidad-meta-parrafo {
  font-size: 0.8em;
}

.actualidad .actualidad-meta-parrafo {
  margin-bottom: 0;
  padding-top: 10px;
}

.documentos-interes {
  background-color: #91DBA7;
  padding-top: 15px;
  padding-bottom: 15px;
}

.documentos-interes-link {
  -ms-flex-align: center;
  align-items: center;
  color: #484646;
  font-size: 1em;
  text-decoration: none !important;
}

.documentos-interes-link:hover {
  color: #2e2d2d;
}

.documentos-interes-link .fa {
  color: #666666;
  font-size: 2em;
  margin-right: 10px;
}

.footer {
  background: #666666;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer p {
  margin: 0;
  line-height: 25px;
}

.footer p small {
  font-size: 95%;
  margin-bottom: 0.5em;
}

.footer p small:last-child {
  margin-bottom: 0;
}

.footer .footer-titulo {
  margin-top: 0;
  margin-bottom: 20px;
}

.footer .redes-sociales {
  display: inline-block;
  margin-right: 15px;
}

.footer .redes-sociales:nth-child(3) {
  margin-right: 0;
}

.footer .redes-sociales .fa {
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  transition: all 0.500s ease;
  padding-top: 6px;
  height: 30px;
  width: 30px;
}

.footer .redes-sociales .fa.fa-facebook:hover {
  background-color: #fff;
  color: #336699;
}

.footer .redes-sociales .fa.fa-twitter:hover {
  background-color: #fff;
  color: #0099CC;
}

.footer .redes-sociales .fa.fa-youtube:hover {
  background-color: #fff;
  color: #CC3333;
}

.footer .redes-sociales .fa-facebook {
  background-color: #336699;
}

.footer .redes-sociales .fa-twitter {
  background-color: #0099CC;
}

.footer .redes-sociales .fa-youtube {
  background-color: #CC3333;
}

.footer .footer-drea {
  text-align: center;
}

.footer .footer-libro {
  color: #fff;
  margin: 0.5em auto;
}

.footer .footer-libro a {
  color: inherit;
  text-decoration: none;
  border-bottom: thin dotted #fff;
  line-height: 1.2;
  font-size: 1.2em;
  margin-top: 1em;
}

.footer .footer-libro:visited {
  color: #fff;
}

.footer .footer-eslogan {
  margin: 0.5em 0;
}

.footer .footer-eslogan p {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 0.5em;
  padding-top: 0.5em;
}

.footer .copyright-drea {
  text-align: right;
}

a.boton-subir {
  display: none;
  background: #81b8f1;
  border: 2px solid #5ca3ec;
  border-radius: 5px;
  height: 35px;
  width: 30px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 999999999;
}

a.boton-subir:focus {
  outline: none;
}

a.boton-subir:hover {
  background: #73b0ef;
}

a.boton-subir i {
  color: #fff;
  font-size: 1.5em;
  padding: 5px 8px 5px 5px;
}

@media (max-width: 1199px) {
  .box-logos > img {
    max-height: 40px;
  }

  .img-meta-veinte img {
    margin-top: 0;
    max-height: 40px;
  }

  .box-buscador .buscador-form {
    margin-top: 0;
  }

  .documentos-interes > div + div {
    margin-bottom: 1.5em;
  }
}

@media (max-width: 991px) {
  .box-logos,
  .box-redes-sociales {
    border-top: 3px solid #36C171;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .redes-sociales {
    margin-bottom: 0;
    padding-top: 0.5em;
  }

  .redes-sociales li:nth-child(1),
  .redes-sociales li:nth-child(2),
  .redes-sociales li:nth-child(3) {
    display: none;
  }

  .box-buscador {
    -ms-flex-order: 3;
    order: 3;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }

  .logo-mobile.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .logo-mobile.d-flex .img-logo {
    max-height: 41px;
  }

  .navbar {
    min-height: 40px;
    margin-bottom: 0.5em;
  }

  .slider-pro h2.sp-layer {
    font-size: 1.2em;
  }

  .servicios {
    margin-bottom: 2em;
  }
}

@media (max-width: 767px) {
  .img-meta-veinte img {
    margin-left: 0;
  }

  .slider-pro h2.sp-layer {
    font-size: 1.1em;
  }

  .lista-servicios .servicios-item {
    width: 100%;
  }

  .footer .footer-contacto {
    margin-bottom: 1.5em;
  }

  .footer .footer-drea {
    border-top: thin dotted #fff;
    padding-top: 1em;
  }

  .footer .copyright-drea {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .slider-pro h2.sp-layer {
    font-size: 1em;
  }

  .documentos-interes > div + div:last-child {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=screen.css.map */
