.footer{
	background: $bg-footer;
	@extend %flex-wrap;
	justify-content: space-between;
	padding-top: 1.5em;
	.footer-col-1{
		@include media-query($on-laptop){
		//900px
			border-bottom: thin dotted $color-blanco;
			padding-bottom: 1em;
			margin-bottom: 1.5em;
			width: 100%;
		}
	}
	.footer-col-1, .footer-col-2{
		@include media-query($content-pc){
		  //1000px
		  width: 48%;
		}
		@include media-query($on-laptop){
		//900px
			width: 100%;
		}
	}
	.footer-col-3{
		@include media-query($content-pc){
		  //1000px
		  border-top: thin dotted $color-blanco;
		  margin-top: 1.5em;
		  padding-top: 1em;
		  width: 100%;
		  hr{
		  	background: transparent;
		  	border: 0;
		  }
		}
	}
	section{
		color: $color-blanco;
		padding: 0.5em;
		width: 31%;
		 p{
			margin: 0;
			line-height: 25px;
		}
		.footer-titulo{
			margin-top: 0;
		}
		.redes-sociales{
			@extend %transition;
			margin-right: 15px;
			&:nth-child(3){
				margin-right:0;
			}
			&:hover{
				color: #FA3E92;
			}
		}
		a{
			color: $color-blanco;
			& .fa{
				font-size: 2em;
			}
		}
		.libro{
			display: inline-block;
			text-decoration: none;
			border-bottom: thin dotted $color-blanco;
			line-height: 1.2;
			font-size: 1.2em;
			margin-top: 1em;
		}
		.eslogan{
			@extend %flex-nowrap;
			margin: 2em 0;
			p{
				font-size: 1.3em;
				font-weight: 700;
				letter-spacing: 1.5px;
				margin-left: 0.5em;
				padding-top: 0.5em;
				&.copy{
					text-align: right;
				}
			}
		}
	}
	.dev{
		background-color: #333333;
		margin-left: -0.5em;
		margin-right: -0.5em;
		padding-left: 0.5em;
		padding-right: 0.5em;
		width: 104%;
		@include media-query($content-pc){
			margin-left: -2%;
			margin-right: -2%;
		}
		p{
			color: $color-blanco;
			text-align: right;
			margin: 0;
			padding: 0 0.5em;
			a{
				color: $color-blanco;
			}
		}
	}
}
//=====================================BOTÓN SUBIR=========================//
a.boton-subir{
  display: none;
  background: lighten($color-azul, 5%);
  border: 2px solid darken($color-azul, 3%);
  border-radius: 5px;
  height: 35px;
  width: 30px;
  position: fixed;
  right: 15px;
  bottom:15px;
  z-index: 999999999;
  &:focus{
    outline: none;
  }
  &:hover{
    background: lighten($color-azul, 2%);
  }
  i{
    color: #fff;
    font-size: 1.5em;
    padding: 5px 5px 5px 7px;
  }
}