//===================HEADER=================================
.header_principal{
	padding-bottom: 1em;
}

//===================MENÚ PRINCIPAL==========================
.nav-principal{
	@extend %flex-wrap;
	padding-top: 1em;
	padding-bottom: 1em;
	@include media-query($content){
	  //1300px
	  margin-bottom: 0.5em;
		 padding: 0.5em;
	}
	@include media-query($content-pc){
		background-color: $bg-menu;
		height: 47px;
	}
}
//=============================================================
.box-imagenes, .box-menus{
	width: 50%;
}

//===================CONTENEDOR IMÁGENES=======================
.box-imagenes{
	.escudo{
		margin-right: 10px;
		@include media-query($content-pc){
			display: none;
		}
	}
	img, a{
		max-height: 110px;
		@include media-query($content){
	  //1300px
		  max-height: 60px;
		}
		@include media-query($content-pc){
			max-height: 47px;
		}
	}
}
.logo-desktop{
	@include media-query($content-pc){
		display: none;
	}
}
.logo-mobile{
	display: none;
	@include media-query($content-pc){
		display: block;
	}
}
//===================MENU WEB PRINCIPAL=======================
.menu-principal{
	@extend %flex-wrap;
	justify-content: flex-end;
	@extend %lista;
	margin-bottom: 0;
	@include media-query($content-pc){
	  //1000px
	  display: none;
	}
	.menu-item{
		display: block;
		border-bottom: thin dotted;
		border-left: thin dotted;
		@extend %transition;
		&:last-child{
			border-right: thin dotted;
		}
		&:nth-child(1) {
			position: relative;
	    border-top: 6px solid #99CC33;
	    &:hover{
	    	background-color: #99CC33;
	    }
	    &::before{
	    	border-top: 6px solid #99CC33;
	    	@extend %menu-before;
	    }
		}
		&:nth-child(2) {
			position: relative;
	    border-top: 6px solid #99CCCC;
	    &:hover{
	    	background-color: #99CCCC;
	    }
	    &::before{
	    	border-top: 6px solid #99CCCC;
	    	@extend %menu-before;
	    }
		}
		&:nth-child(3) {
			position: relative;
	    border-top: 6px solid #FF6633;
	    &:hover{
				background-color: #FF6633;
	    }
	   	&::before{
		   	border-top: 6px solid #FF6633;
		   	@extend %menu-before;
		  }
		}
		a{
			display: block;
			padding: 0.5em 0.9em;
			&:hover{
				color: $color-blanco;
			}
		}
		//=====SUB MENU======
		.sub-menu-1{
			background-color: #99CC33;
			width: 200px;
			left: -50px;
			&::before{
				content: "";
				border-right:7px solid transparent;
				border-bottom:7px solid #99CC33;
				border-left:7px solid transparent;
				border-top: 7px solid transparent;
				margin-left: -7px;
				position: absolute;
				top: -14px;
				left: 50%;
			}
		}
		.sub-menu-2{
			background-color: #99CCCC;
			min-height: 150px;
			padding: 1em;
			width: 1085px;
			left: -910px;
			@include media-query($content){
			  //1300px
			  width: 1050px;
				left: -850px;
			}
			@include media-query(1200px){
				width: 900px;
				left: -700px;
			}
			@include media-query(1100px){
			  //1100px
			  width: 900px;
				left: -700px;
			}
			&::before{
				content: "";
				border-right:7px solid transparent;
				border-bottom:7px solid #99CCCC;
				border-left:7px solid transparent;
				border-top: 7px solid transparent;
				margin-left: -7px;
				position: absolute;
				top: -14px;
				right: 12%;
				@include media-query($content){
			  //1300px
				  right: 15%;
				}
				@include media-query(1200px){
					 right: 17%;
				}
				@include media-query(1100px){
				  //1100px
				  right: 18%;
				}
			}
		}
		.sub-menu-3{
			background-color: #FF6633;
			width: 200px;
			left: -50px;
			&::before{
				content: "";
				border-right:7px solid transparent;
				border-bottom:7px solid #FF6633;
				border-left:7px solid transparent;
				border-top: 7px solid transparent;
				margin-left: -7px;
				position: absolute;
				top: -14px;
				left: 50%;
			}
		}
		> ul, .sub-menu-2{
			@extend %lista;
			display: none;
			position: absolute;
			top: 53px;
			z-index: 99999999;
			li{
				border-bottom: thin dotted $color-blanco;
				&:last-child{border-bottom:0;}
				a{
					color: $color-blanco;
					display: block;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		&:hover > ul{
			display: block;
		}
		&:hover > .sub-menu-2{
			@extend %flex-wrap;
			justify-content: space-between;
		}
	}
}
//================SUB MENU 2===========================
.sub-menu-2{
	
	width: 100%;
	> div{
		border-right: thin dotted $color-blanco;
		width: 33%;
		&:last-child{
			border-right: 0;
		}
	}
	.sub-menu{
		@extend %lista;
		
		display: block !important;
		padding: 1em;
	}
}
//===================MENU MOBILE=======================
.box-iconos{
	display: none;
}
.box-iconos{
	font-size: 1.8em;
	a{
		color: $color-blanco;
		&:last-child{
			margin-left: 15px;
		}
	}
	
	@include media-query($content-pc){
	  //1000px
	  display: block;
	  text-align: right;
	}
}
.box-menu-mobile{
	background-color: $bg-menu;
	padding: 0.5em;
	position: fixed;
	top:0;
	right: 0;
	bottom: 0;
	width: 60%;
	z-index: 9999999;
	i{
		color: $color-blanco;
		font-size: 2em;
		position: absolute;
		right: 15px;
	}
	.logo-mobile{
		img{
			display: block;
			margin: 1em auto;
			max-height: 100px;
		}
	}
}
.menu-mobile{
	@extend %lista;
	margin-bottom: 0;
	li{
		background-color: #E4E1E4;
		border-radius: 3px;
		margin-bottom: 0.5em;
		&:nth-child(1){
			border-left: 6px solid #99CC33;
			border-top: thin solid #99CC33;
			border-bottom: thin solid #99CC33;
			border-right: thin solid #99CC33;
		}
		&:nth-child(2){
			border-left: 6px solid #99CCCC;
			border-top: thin solid #99CCCC;
			border-bottom: thin solid #99CCCC;
			border-right: thin solid #99CCCC;
		}
		&:nth-child(3){
			border-left: 6px solid #FF6633;
			border-top: thin solid #FF6633;
			border-bottom: thin solid #FF6633;
			border-right: thin solid #FF6633;
		}
		a{
			color: $color-negro;
			margin-left: 10px;
			font-weight: 700;
			font-size: 1.3em;
		}
	}
}
//===================MENU WEB SECUNDARIO=======================
.menu-secundario{
	@extend %flex-wrap;
	justify-content: flex-end;
	@extend %lista;
	@include media-query($content){
	  //1300px
	  display: none;
	}
	li{
		margin-right: 15px;
		&:nth-child(4){
			margin-right: 0;
		}
		&:nth-child(2), &:nth-child(3), &:nth-child(4){
			a{
				@extend %flex-wrap;
				align-items: center;
				span{
					color: #663333;
					margin-left: 7px;
					font-weight: 700;
				}
			}
		}
	}
	.icono{
		border-radius: 50%;
		color: $color-blanco;
		position: relative;
		font-size: 1.3em;
		@extend %transition;
		height: 40px;
		width: 40px;
		&::before{
			position: absolute;
			top: 11px;
			left: 11px;
		}
	}
	.fa-facebook{
		background-color: lighten(#3C59A5, 10%);
		&:hover{
			background-color: #3C59A5;
		}
		&::before{
			left: 12px;
		}
	}
	.fa-twitter{
		background-color: lighten(#0DADD3, 10%);
		&:hover{
			background-color: #0DADD3;
		}
	}
	.fa-youtube{
		background-color: lighten(#B9242C, 10%);
		&:hover{
			background-color: #B9242C;
		}
	}
	.fa-home{
		background-color: lighten(#663333, 15%);
		&:hover{
			background-color: #663333;
		}
		&::before{
			left: 10px;
		}
	}
	.fa-envelope{
		background-color: lighten(#663333, 15%);
		&:hover{
			background-color: #663333;
		}
		&::before{
			left: 10px;
		}
	}
	.icono.fa-search{
		background-color: lighten(#663333, 15%);
		&:hover{
			background-color: #663333;
		}
	}
}

//===================BUSCADOR=======================
.buscador{
	@extend %flex-nowrap;
	justify-content: flex-end;
	margin-top: 0.7em;
	position: relative;
	width: 100%;
	.icono-buscador{
		color: $color-gris;
		position: absolute;
		top: 9px;
		right: 10px;
	}
	input[type="text"]{
		border-radius: 3px;
		border: thin solid $color-gris;
		@extend %transition;
		height: 30px;
		padding: 5px 5% 5px 1%;
		width: 435px;
		&:focus{
			border:thin solid $color-azul;
			outline: none;
		}
	}
}
//=========================SLIDER MAIN========================
.slider_principal{
	background-color: $color-azul;
	margin-bottom: 1em !important;
	width: 100%;
	h2{
		font-family: $font-family-contenido;
		font-weight: 300;
	}
}
//=========================DIRECTOR DREA========================
.director-drea{
	background-color: #ECF0F1;
	@extend %flex-wrap;
	padding: 1em;
	@include media-query($on-small-laptop){
		//800px
		
	}
	.director-foto{
		width: 30%;
		@include media-query($on-small-laptop){
		//800px
			width: 100%;
		}
		img{
			border: 5px solid $color-azul;
			border-radius: 100%;
			@include media-query($on-small-laptop){
			//800px
				display: block;
				margin: 0 auto;
			}
		}
	}
	.director-descripcion{
		text-align: center;
		width: 70%;
		@include media-query($on-small-laptop){
		//800px
			width: 100%;
		}
	}
	.nombre-director{
		small{
			display: block;
		}
	}
	.btn-home{
		@extend %transition;
		background-color: #60C300;
		border-radius: 5px;
		color: $color-blanco;
		padding: 0.3em 1em;
		text-decoration: none;
		&:hover{
			background-color: darken(#60C300, 5%);
		}
	}
}