//=====================================MAIN================
.contenido_principal{
	padding-top: 1em;
	padding-bottom: 1em;
}
.titulos-main{
	margin-top: 0;
	position: relative;
	width: 100%;
	&::before{
		background-color: #66CC00;
		content: "";
		height: 5px;
		width: 25%;
		position: absolute;
		bottom: -5px;
		left: 0;
		z-index: 100;
	}
	&::after{
		background-color: #CCCCCC;
		content: "";
		height: 1px;
		width: 100%;
		position: absolute;
		bottom: -3px;
		left: 0;
	}
}
//===============DOCUMENTOS DE INTERES=====================
.documentos-interes{
	@extend %padding-box;
	@extend %flex-wrap;
	justify-content: space-between;
	@include media-query($content){
	//1300px
		
	}
	a{
		@extend %flex-wrap;
		align-items: center;
		@extend %transition;
		color: #999999;
		font-size: 1.2em;
		text-decoration: none;
		@include media-query($content){
		//1300px
			width: 33%;
			margin-bottom: 1em;
		}
		@include media-query($content-pc){
		  //1000px
		  width: 50%;
		}
		@include media-query($on-tablet){
		//700px
			 width: 100%;
		}
		&:hover{
			color: darken(#999999, 10%);
		}
		.fa{
			background-color: #999999;
			border-radius: 100%;
			color: $color-blanco;
			font-size: 1.3em;
			margin-right: 10px;
			position: relative;
			height: 60px;
			width: 60px;
			&::before{
				position: absolute;
				top: 20px;
				left: 20px;
			}
		}
	}
}
//===============EVENTOS Y COMUNICADOS==================
.eventos-comunicados-carousel{
	p{
		margin: 0;
	}
}
//===============BOX EVENTOS COMUNICACIONES==================
.box-eventos{
		@extend %flex-wrap;
		justify-content: space-between;
		@include media-query($content-pc){
		  //1000px
		  justify-content: center;
		}
		> div{
			padding: 0.5em 1%;
		}
		.box-slider{
			width: 66%;
			@include media-query($content-pc){
			  //1000px
			  width: 98%
			}
		}
		.box-slider2{
			width: 28%;
			@include media-query($content-pc){
			  //1000px
			  width: 60%
			}
			@include media-query($on-smartphone){
			//480px
				width: 100%;
			}
		}
}
//==================== BOX SERVICIOS =============
.box-servicios{
	@extend %flex-wrap;
	justify-content: space-between;
	.contenedor{
		padding: 0.5em;
		width: 31%;
	}
	.servicios, .convocatorias{
		@include media-query($content){
			width: 48%;
			@include media-query($on-laptop){
			//900px
				width: 98%;
			}
		}
	}
	.videos{
		@include media-query($content){
		  //1300px
		  width: 98%;
		}
	}
	.video-carousel .item-video{
		height:200px;
		@include media-query($content){
		  //1300px
		  height:350px;
		}
	}
}
//==================== SERVICIOS =============
.servicios{
	a{
		@extend %flex-nowrap;
		align-items: center;
		text-decoration: none;
		@extend %transition;
		margin-bottom: 2em;
		color: #726E6E;
		&:hover{
			color: #4B4949;
		}
		i{
			font-size: 3.5em;
			margin-right: 15px;
			color: #999999;
			&:hover{
				color: darken(#999999, 10%);
			}
		}
		h3{
			margin-top: 0;
			margin-bottom: 0.5em;
		}
		small{
			display: block;
			line-height:1.2;
		}
	}
}
//======================CONVOCATORIAS=====================
.convocatorias{
	.lista-convocatorias{
		@extend %flex-wrap;
		justify-content: space-between;
		width: 100%;
		a{
			@extend %flex-nowrap;
			align-items: center;
			text-decoration: none;
			@extend %transition;
			margin-bottom: 1.5em;
			width: 47%;
			color: #726E6E;
			&:hover{
				color: #4B4949;
			}
			i{
				font-size: 3em;
				margin-right: 15px;
				color: #D53D37;
				&:hover{
					color: darken(#D53D37, 10%);
				}
			}
			span{
				display: block;
				line-height: 1;
			}
		}
	}
	
}