.contenido_principal{
	padding-top: 1em;
	padding-bottom: 1em;
}
.titulos-main{
	margin-top: 0;
	width: 100%;
}
//===============DOCUMENTOS DE INTERES=====================
.documentos-interes{
	@extend %padding-box;
	@extend %flex-wrap;
	justify-content: space-between;
	margin-bottom: 1em;
	a{
		@extend %flex-wrap;
		align-items: center;
		@extend %transition;
		color: #999999;
		font-size: 1.2em;
		text-decoration: none;
		font-weight: 700;
		&:hover{
			color: darken(#999999, 10%);
		}
		.fa{
			background-color: #999999;
			border-radius: 100%;
			color: $color-blanco;
			font-size: 1.3em;
			margin-right: 10px;
			position: relative;
			height: 60px;
			width: 60px;
			&::before{
				position: absolute;
				top: 20px;
				left: 20px;
			}
		}
	}
}
//===============BOX EVENTOS COMUNICACIONES==================
.box-eventos{
		@extend %flex-wrap;
		justify-content: space-between;
		> div{
			padding: 0.5em 1%;
		}
		.box-slider{
			width: 66%;
		}
		.slider-eventos-comunicados{
			
		}
		.box-slider2{
			width: 28%;
		}
}
//==================== BOX SERVICIOS =============
.box-servicios{
	@extend %padding-box;
	@extend %flex-wrap;
	justify-content: space-between;
	div{
		padding: 0.5em;
		width: 31%;
	}
}
//==================== SERVICIOS =============
.servicios{
	a{
		@extend %flex-nowrap;
		align-items: center;
		text-decoration: none;
		@extend %transition;
		margin-bottom: 2em;
		color: #726E6E;
		&:hover{
			color: #4B4949;
		}
		i{
			font-size: 3.5em;
			margin-right: 15px;
			color: #999999;
			&:hover{
				color: darken(#999999, 10%);
			}
		}
		h3{
			margin-top: 0;
			margin-bottom: 0.5em;
		}
		small{
			display: block;
			line-height:1.2;
		}
	}
}
//======================CONVOCATORIAS=====================
.convocatorias{
	.lista-convocatorias{
		@extend %flex-wrap;
		justify-content: space-between;
		width: 100%;
		a{
			@extend %flex-nowrap;
			align-items: center;
			text-decoration: none;
			@extend %transition;
			margin-bottom: 1.5em;
			width: 47%;
			color: #726E6E;
			&:hover{
				color: #4B4949;
			}
			i{
				font-size: 3em;
				margin-right: 15px;
				color: #D53D37;
				&:hover{
					color: darken(#D53D37, 10%);
				}
			}
			span{
				display: block;
				line-height: 1;
			}
		}
	}
	
}