//===================CONTENEDORES==================//
.box-servicios-actualidad, 
.box-fotos-videos, 
.box-documentos-interes, 
.box-director-drea, 
.box-enlaces-interes{
	padding-top: 1em;
	padding-bottom: 1em;
}
.box-slider-main{
	padding-bottom: 1em;
}
.box-footer{
	padding-top: 1em;
}
//===================NO LISTAS==================//
.no-list{
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
//===================FLEX==================//
[class*="flex"]{
	display: flex;
}
[class*="fwrap"]{
	flex-wrap: wrap;
}
[class*="fnowrap"]{
	flex-wrap: nowrap;
}
[class*="aic"]{
	align-items: center;
}
[class*="jsb"]{
	justify-content: space-between;
}
[class*="jcenter"]{
	justify-content: center;
}