//Contenedor logos
.box-logos{
	@media (max-width: 991px) {
		width: 30%;
	}
	 img {
	  width: auto;
	  height: 60px;
	  @media (max-width: 1199px) {
	  	height: 40px;
	  }
	}
}
//Imagen meta veinte
.img-meta-veinte{
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	width: 100px;
	@media (max-width: 991px) {
		background-size: 80%;
		height: 50px;
		width: 150px;
	}
	@media (max-width: 1199px) {
  	margin-top: 0;
  }
}
//Contenedor de los logos y redes sociales
.box-logos-redes{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
//Contenedor redes y buscador
.box-redes{
	@media (max-width: 991px) {
		width: 70%;
	}
}
//Contenedor redes sociales
.redes-sociales{
	justify-content: flex-end;
  align-items: flex-start; 
	margin-bottom: 0.5em;
	li{
	 	box-sizing: border-box;
	 	padding: .3rem;
	 	@media (max-width: 767px) {
	 		&:nth-child(1), &:nth-child(2), &:nth-child(3){
				display: none;
	 		}
	 	}
	 	a{
	 		color: $header-redes-link-color;
  		text-decoration: none;
	 	}
	 	.fa {
		  background-color: $header-redes-link-color;
		  border-radius: 50%;
		  color: #fff;
		  text-align: center;
		  font-size: 1.2rem;
		  height: 30px;
		  width: 30px;
		  padding-top: 5px;
		}
		.fa-facebook {
		  background-color: $header-redes-facebook-bg; 
		}
		.fa-twitter {
  		background-color: $header-redes-twitter-bg;
  	}
  	.fa-youtube {
  		background-color: $header-redes-youtube-bg; 
  	}
	}
}
//Contenedor de buscador
.box-buscador{
	justify-content: flex-end;
	padding-bottom: 0.5em;
	.buscador-form{
		margin-top: -10px;
		position: relative;
		width: 450px;
		@media (max-width: 767px) {
			margin-top: 0;
			width: 100%;
		}
		.js_icono_buscador{
			color: #B0AEAE;
			position: absolute;
			right: 5px;
			top: 12px;
		}
		.form-control{
			padding-right: 25px;
		}
	}
}