.container{
  background-color: #fff;
}
.box-servicios-actualidad,
.box-fotos-videos,
.box-documentos-interes,
.box-lideres,
.box-enlaces-interes,
.box-footer{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
.box-footer{
	padding-bottom: 0;
}