.footer{
  background: $bg-footer;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  > div{
    @media (max-width: 767px) {
      border-top: thin dotted #fff;
      padding-top: 1em;
      padding-bottom: 1em;
      &:first-child{
        border-top:0;
        padding-top: 0;
      }
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
  div small{
    line-height: 20px;
  }
  hr{
    border-top: thin solid #fff;
  }
  .footer-contacto{
    @media (max-width: 767px) {
      margin-bottom: 1.5em;
    }
  }
  .footer-titulo{
    color: #fff;
    margin-bottom: 20px;
  }
  //====================REDES SOCIALES FOOTER=======================//
  .redes-sociales{
    .redes-link{
      border-radius: 50%;
      color: #fff;
      height: 30px;
      width: 30px;
      &:hover{
        background-color: #fff;
      }
    }
    .facebook {
      background-color: $redes-facebook-bg;
      &:hover i{
        color: $redes-facebook-bg;
      }
    }
    .twitter {
      background-color: $redes-twitter-bg;
      &:hover i{
        color: $redes-facebook-bg;
      }
    }
    .youtube {
      background-color: $redes-youtube-bg;
       &:hover i{
        color: $redes-youtube-bg;
      }
    }
    .fa{
      font-size: 1.2em;
    }
  }

  .footer-img-meta-veinte{
    margin-left: -30px;
    height: 70px;
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }
  //CONTENEDOR DREA
  .drea{
    text-align: center;
    p{
      margin-bottom: 0;
    }
  }
  //FOOTER LIBRO
  .footer-libro{
    color: #fff;
    margin: 0.5em auto;
    a{
      color: inherit;
      text-decoration: none;
      border-bottom: thin dotted $color-blanco;
      line-height: 1.2;
      font-size: 1.2em;
      margin-top: 1em;
    }
    &:visited{
      color: #fff;
    }
  }
  //FOOTER SLOGAN
  .footer-eslogan{
    margin: 0.5em 0;
    p{
      font-size: 1.2em;
      font-weight: 700;
      letter-spacing: -0.5px;
      margin-left: 0.5em;
      padding-top: 0.5em;
    }
  }
  //COPY
  .copyright-drea{
    text-align: right;
    @media (max-width: 767px) {
      text-align: center;
    }
  }
}
.dev{
  background-color: #333;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  a{
    color: #fff;
    font-size: 12px;
  }
}
//=====================================BOTÓN SUBIR=========================//
a.up{
  background: #EF6752;
  border: 2px solid darken(#EF6752, 3%);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  position: fixed;
  right: 15px;
  bottom:55px;
  z-index: 999999999;
  &:focus{
    outline: none;
  }
  &:hover{
    background: lighten(#EF6752, 3%);
  }
  i{
    font-size: 1.5em;
  }
}
.box-up{
  height: 35px;
  width: 30px;
}