.box-logos{
	margin-top: 0.5em;
	@media (max-width: 991px) {
		
	}
	> img{
		max-height: 60px;
		@media (max-width: 1199px) {
			max-height: 40px;
		}
	}
}
.box-enlaces-drea{
	margin-top: 0.5em;
}
.box-logos, .box-enlaces-drea{
	@media (max-width: 991px) {
		border-top: 3px solid $theme-color;
		margin-top: 0;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
}
//Imagen meta veinte
.img-meta-veinte img{
	margin-left: 10px;
	margin-top: 5px;
	@media (max-width: 1199px) {
		margin-top: 0;
		max-height: 40px;
	}
	@media (max-width: 767px) {
		margin-left: 0;
	}
}
//Contenedor redes sociales
.enlaces-drea{
	margin-bottom: 0.5em;
	@media (max-width: 991px) {
		margin-bottom: 0;
		padding-top: 0.5em;
	}
	.enlaces-item{
		box-sizing: border-box;
		margin-left: 5px;
		&:first-child{
			margin-left: 0;
		}
	}
 	a{
 		color: $header-redes-link-color;
		text-decoration: none;
 	}
 	.box-icono{
 		background-color: $header-redes-link-color;
 		border: thin solid transparent;
	  border-radius: 50%;
	  color: #fff;
	  transition: all 0.500s ease;
	  margin-right: 5px;
 		height: 30px;
	  width: 30px;
 	}
 	.fa {
	  font-size: 1em;
	}
}
//Contenedor de buscador
.box-buscador{
	padding-bottom: 0.5em;
	@media (max-width: 991px) {
		order: 3;
		padding-top: 0.5em;
		padding-bottom: 1em;
	}
	.buscador-form{
		margin-top: -10px;
		position: relative;
		@media (max-width: 1199px) {
			margin-top: 0;
		}
		.js_icono_buscador{
			color: #B0AEAE;
			position: absolute;
			right: 5px;
			top: 12px;
		}
		.form-control{
			padding-right: 25px;
		}
	}
}
