//=====================================MAIN================
.titulo{
	text-align: center;
	margin-top: 0;
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	&::before{
		background-color: $titulo-subrayado-color;
		content: "";
		margin-left: -10%;
		height: 5px;
		width: 20%;
		position: absolute;
		bottom: -5px;
		left: 50%;
		z-index: 100;
	}
}
//SLIDER PRO
.slider-pro h2.sp-layer{
	@media (max-width: 991px) {
		font-size: 1.2em;
	}
	@media (max-width: 767px) {
		font-size: 1.1em;
	}
	@media (max-width: 575px) {
		font-size: 1em;
	}
}
//===============SERVICIOS==================
.servicios{
	@media (max-width: 991px) {
		margin-bottom: 2em;
	}
}
.lista-servicios{
	margin-bottom: 0;
	.servicios-item{
		border: thin solid transparent;
		box-sizing: border-box;
		transition: all 0.500s linear;
		padding: 5px;
		margin-bottom: 10px;
		width: 50%;
		@media (max-width: 767px) {
			width: 100%;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&:hover{
			border: thin dotted $servicios-borde-color;
		}
	}
	.servicios-link{
		text-decoration: none !important;
		&:visited{
			text-decoration: none;
		}
		.fa{
			color: $servicios-iconos-color;
			font-size: 2.5em;
			width: 40px;
			margin-right: 5px;
		}
	}
	.servicios-contenido{
		width: 77%;
		small{
			color: $servicios-color;
		}
	}
	.servicios-titulo{
		color: $servicios-titulo-color;
		font-size: 1.1em;
	}
}

//==============================ACTUALIDAD==============================//
.actualidad-cabecera{
	position: relative;
}
.actualidad-ver-todos{
	background-color: $leer-mas-bg;
	border: 2px solid $leer-mas-color-borde;
	color: $color-blanco;
	letter-spacing: 2px; 
	margin-left: 10px;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	top: 0;
	&:hover{
		color: $color-negro;
	}
	&:visited{
		color: $color-blanco;
	}
}
.actualidad{
	.image{
		background-size: cover;
		background-position: center center;
		height: 145px;
		width: 30%;
	}
	.actualidad-contenido{
		margin-left: 2%;
		width: 68%;
	}
	.actualidad-vinculo{
		color: $actualidad-titulo-color;
	}
	.actualidad-titulo{
		color: inherit;
		font-size: 1.1em;
		margin-bottom: 0.7em;
	}
	.actualidad-parrafo{
		font-size: 0.9em;
		margin-bottom: 0.7em;
	}
	.actualidad-meta-leer-mas{
		background-color: $leer-mas-bg;
		border: thin solid transparent;
		color: $color-blanco;
		text-decoration: none;
		margin-left: 10px;
		padding: 5px 10px;
		&:hover{
			border: thin solid $leer-mas-color-borde;
			color: $color-negro;
		}
		&:visited{
			color: $color-blanco;
		}
	}
	.actualidad-meta-parrafo{
		font-size: 0.8em;
	}
	.actualidad-meta-parrafo{
		margin-bottom: 0;
		padding-top: 10px;
	}
}
//===============SLIDER FOTOS=====================
.slider-fotos{
	margin-bottom: 2em;
}

//===============SLIDER VIDEOS======================
.bx-wrapper{
	.bx-prev, .bx-next{
		transition: none;
	}
}

//===============DOCUMENTOS DE INTERES=====================
.box-documentos-interes{
	background-color: #91DBA7;
}
.documentos-interes{
	> div + div{
		@media (max-width: 1199px) {
			margin-bottom: 1.5em;
		}
		@media (max-width: 575px) {
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.documentos-interes-link{
	color: $doc-int-color;
	font-size: 1em;
	text-decoration: none !important;
	&:hover{
		color: darken($doc-int-color, 10%);
	}
	.fa{
		color: $doc-int-color-icono;
		font-size: 2em;
		margin-right: 10px;
	}
}
//===============LIDER DREA=====================
.box-lideres{
	background-color: #ECF0F1;
}
.lider-drea{
	.lider-foto{
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
	}
	.foto{
		border: 5px solid $color-azul;
		@media (max-width: 767px) {
			display: block;
			margin:  auto;
			height: 150px;
			width: 150px;
		}
	}
	.lider-nombre{
		margin-bottom: 15px;
	}
}