//=============================CONTENEDOR PRINCIPAL================
.site-container {
  position: relative;
  z-index: 10;
  min-height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}
//=====================================MAIN================
.titulo{
	text-align: center;
	margin-top: 0;
	position: relative;
	width: 100%;
	&::before{
		background-color: $titulo-subrayado-color;
		content: "";
		margin-left: -3.5%;
		height: 5px;
		width: 7%;
		position: absolute;
		bottom: -7px;
		left: 50%;
		z-index: 99;
	}
}
//CAROUSEL MAIN
.box-slider-main{
	padding-left: 0;
	padding-right: 0;
}
.carousel-main{
	h2{
		color: #fff;
		@media (max-width: 991px) {
			font-size: 1.2em;
		}
		@media (max-width: 767px) {
			font-size: 1.1em;
		}
		@media (max-width: 575px) {
			font-size: 1em;
		}
	}
}
//===============SERVICIOS==================
.servicios{
	@media (max-width: 991px) {
		margin-bottom: 2em;
	}
}
.lista-servicios{
	margin-bottom: 0;
	.servicios-item{
		border: thin solid transparent;
		box-sizing: border-box;
		transition: all 0.500s linear;
		padding: 5px;
		margin-bottom: 10px;
		width: 50%;
		@media (max-width: 767px) {
			width: 100%;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&:hover{
			border: thin dotted $servicios-borde-color;
		}
	}
	.servicios-link{
		text-decoration: none !important;
		&:visited{
			text-decoration: none;
		}
		.fa{
			color: $servicios-iconos-color;
			font-size: 2.5em;
			width: 40px;
			margin-right: 5px;
		}
	}
	.servicios-contenido{
		width: 77%;
		small{
			color: $servicios-color;
		}
	}
	.servicios-titulo{
		color: $servicios-titulo-color;
		font-size: 1.1em;
	}
}

//==============================ACTUALIDAD==============================//
.actualidad-cabecera{
	position: relative;
}
.actualidad-ver-todos{
	background-color: $leer-mas-bg;
	border: 2px solid $leer-mas-color-borde;
	color: $color-blanco;
	letter-spacing: 2px; 
	margin-left: 10px;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	top: 0;
	&:hover{
		color: $color-negro;
	}
	&:visited{
		color: $color-blanco;
	}
}
.actualidad{
	margin-bottom: 1em;
	&:last-child{
		margin-bottom: 0;
	}
	.image{
		background-size: cover;
		background-position: center center;
		height: 145px;
		width: 30%;
		@media (max-width: 575px) {
			width: 35%;
		}
	}
	.actualidad-contenido{
		margin-left: 2%;
		width: 68%;
		@media (max-width: 575px) {
			width: 63%;
		}
	}
	.actualidad-vinculo{
		color: $actualidad-titulo-color;
	}
	.actualidad-titulo{
		color: inherit;
		font-size: 1.1em;
		margin-bottom: 0.7em;
	}
	.actualidad-parrafo{
		font-size: 0.9em;
		margin-bottom: 0.7em;
	}
	.actualidad-meta-leer-mas{
		background-color: $leer-mas-bg;
		border: thin solid transparent;
		color: $color-blanco;
		text-decoration: none;
		margin-left: 10px;
		padding: 5px 10px;
		&:hover{
			border: thin solid $leer-mas-color-borde;
			color: $color-negro;
		}
		&:visited{
			color: $color-blanco;
		}
	}
	.actualidad-meta-parrafo{
		font-size: 0.8em;
	}
	.actualidad-meta-parrafo{
		margin-bottom: 0;
		padding-top: 10px;
	}
}
//===============SLIDER FOTOS=====================
.fotos-carousel{
	max-height: 304px !important;
	overflow: hidden;
	@media (max-width: 991px) {
		max-height: 350px !important;
		margin-bottom: 2em;
	}
	@media (max-width: 1199px) {
		max-height: 252px !important;
	}
}

//Detalle imagenes
.owl-theme .item{
	position: relative;
}
.info{
	background: rgba(255,255,255,0.7);
	border-radius: 3px;
	box-sizing: border-box;
	text-align: center;
	padding: 3%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

// -------------------------
.ih-item.effect13 {
    // &.colored {
    //     .info {
    //         background: $overlay_colored_fallback;
    //         background: $overlay_colored;
    //     }
    // }

    .info {
        background: $overlay_dark_fallback;
        background: $overlay_dark;
        opacity: 0;
        pointer-events: none;
       transition: all .35s ease-in-out;

        h3 {
            visibility: hidden;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            letter-spacing: 2px;
            font-size: 22px;
            margin: 0 30px;
            padding: 55px 0 0 0;
            height: 110px;
            text-shadow: 
                0 0 1px #fff, 
                0 1px 2px rgba(0,0,0,0.3);            
           transition: all .35s ease-in-out;
        }

        p {
            visibility: hidden;
            color: #bbb;
            padding: 10px 5px;
            font-style: italic;
            margin: 0 30px;
            font-size: 12px;
            border-top: 1px solid rgba(255,255,255,0.5);
           transition: all .35s ease-in-out;
        }
    }

    a:hover {
        .info {
            opacity: 1;
        }

        h3 {
            visibility: visible;
        }

        p {
            visibility: visible;
        }
    }
}

// -------------------------
.ih-item.effect13.from_left_and_right {
    .info {
        h3 {
            @include transform( translateX(-100%) );
        }

        p {
            @include transform( translateX(100%) );
        }
    }

    a:hover {
        h3 {
            @include transform( translateX(0) );
        }

        p {
            @include transform( translateX(0) );
        }
    }
}

//===============SLIDER VIDEOS======================
.slider-videos{
	.bx-controls-direction{
		a{
			transition: none;
		}
	}
}

//===============DOCUMENTOS DE INTERES=====================
.documentos-interes{
	background-color: #91DBA7;
	> div + div{
		@media (max-width: 1199px) {
			margin-bottom: 1.5em;
		}
		@media (max-width: 575px) {
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.documentos-interes-link{
	color: $doc-int-color;
	font-size: 1em;
	text-decoration: none !important;
	&:hover{
		color: darken($doc-int-color, 10%);
	}
	.fa{
		color: $doc-int-color-icono;
		font-size: 2em;
		margin-right: 10px;
	}
}
//===============LIDER DREA=====================
.box-lideres{
	padding-left: 0;
	padding-right: 0;
}
.lideres_carousel{
	background-color: #ECF0F1;
}
.lider-drea{
	.lider-foto{
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
	}
	.foto{
		border: 5px solid $color-azul;
		margin:  auto;
		height: 200px !important;
		width: 200px !important;
		@media (max-width: 767px) {
			display: block;
			height: 150px !important;
			width: 150px !important;
		}
	}
	.lider-nombre{
		margin-bottom: 15px;
	}
}
//===============REDES SOCIALES=====================
.box-redes-sociales{
	width: 50px;
	position: fixed;
	right: 1px;
	top: 50%;
	z-index: 9999999999;
}
.redes-sociales{
	margin-bottom: 0;
	.redes-item{
		overflow: hidden;
		border-bottom: thin solid #fff;
		&:first-child{
			border-radius: 12px 0 0 0;
		}
		&:last-child{
			border-radius: 0 0 0 12px;
			border-bottom: 0;
		}
	}
	.redes-link{
		background-color: #FCA086;
		text-decoration: none;
		height: 50px;
		width: 50px;
	}
	.fa{
		color: #fff;
		font-size: 2em;
		transition: all 0.300s linear;
		&:hover{
			color: #3A3737;
		}
	}
}

//=================PUP PUP==========================//
.box-pop-pup-drea{
	.btn{
		display: none;
	}
}
.modal-open{
	.modal{
		.modal-body{
			padding: 0;
			img{
				height: 400px;
			}
		}
	}
}
//================PÃGINA INTERNA======================
.cover{
	background-size: cover;
	background-position: center center;
	margin-bottom: 2em;
	position: relative;
	height: 350px;
	width: 100%;
	z-index: 100;
	&-overlay{
		opacity: .7;
	  background: transparent url("../images/overlays/03.png") center center repeat;
		position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  overflow: hidden;
	  border: none;
	  padding: 0;
	  margin: 0;
	  z-index: 999;
	}
}
.titulo-principal{
	color: #fefefe;
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
	margin-left: 2%;
	margin-right: 2%;
	margin-top: -60px;
	margin-bottom: 0;
	position: absolute;
	top: 50%;
	width: 96%;
	z-index: 1000;
	@media (max-width: 767px) {
		margin-left: 0.5%;
		margin-right: 0.5%;
		width: 99%;
	}
}
.contenido__articulo{

	img{
		margin-bottom: 1em;
	}
}
.lista-compartir-redes{
	margin-bottom: 1.5em;
	li{
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
		a{
			color: #fff;
			text-decoration: none;
			height: 30px;
			width: 50px;
	    .fa{
	      font-size: 1.2em;
	    }
		}
		.facebook {
      background-color: $redes-facebook-bg;
      &:hover i{
        color: #111;
      }
    }
    .twitter {
      background-color: $redes-twitter-bg;
      &:hover i{
        color: #111;
      }
    }
    .google-plus {
      background-color: $redes-google-plus;
       &:hover i{
        color: #111;
      }
    }
	}
}

//LISTA DE SLIDES
.lista-slides{
	span{
		&.nombre-slide{
			background: rgba(0,0,0,.5);
			color: #fefefe;
			text-transform: uppercase;
			text-align: center;
			padding: 1em;
			position: absolute; 
	  	top: 0; 
	  	left: 0%;
	  	width: 100%;
		}
	}
}

//GALERIA PAGINA INTERNA

.galeria-lightbox{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 2em;
	.item{
		margin-bottom: 10px;
		overflow: hidden;
		width: 33%;
		@media (max-width: 767px) {
			width: 49%;
		}
		@media (max-width: 575px) {
			width: 48%;
		}
	}
 .zoom{
	 	display: block;
	 	position: relative;
		&:hover{
			img { 
				transform: scale(1.3); 
				-ms-transform: scale(1.3); 
				-webkit-transform: scale(1.3); 
				-o-transform: scale(1.3); 
				-moz-transform: scale(1.3);
			}
			span.overlay { 
				display: block; 
				visibility: visible; 
				opacity: 0.55; 
				-moz-opacity: 0.55; 
				-webkit-opacity: 0.55; 
				filter: alpha(opacity=65); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; 
			}
		}
		img{
			transition: all 0.5s;
			margin-bottom: 0;
		}
		span{
			&.overlay {
				position: absolute; 
				top: 0; 
				left: 0; 
				visibility: hidden; 
				height: 100%; 
				width: 100%; 
				background-color: #000; 
				opacity: 0; 
		    transition: opacity .25s ease-out;
		    -moz-transition: opacity .25s ease-out;
		    -webkit-transition: opacity .25s ease-out;
		    -o-transition: opacity .25s ease-out;
		    i { 
		    	position: absolute; 
		    	top: 45%; 
		    	left: 0%; 
		    	width: 100%; 
		    	font-size: 2.25em; 
		    	color: #fff !important; 
		    	text-align: center;
	        opacity: 1;
	        -moz-opacity: 1;
	        -webkit-opacity: 1;
	        filter: alpha(opacity=1);
	        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
		    }
		  }
		}
	}
}

.modal-dialog{
	position: relative;
}

.ekko-lightbox-close{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background: #FFFFFF;
	border-radius: 100%;
	border: 3px solid #484242; 
	color: #484242;
	cursor: pointer;
	font-size: 1.5em;
	height: 40px;
	width: 40px;
	position: absolute;
	top: -20px;
	right: -20px;
	z-index: 99999;
	@media (max-width: 767px) {
		top: -5px;
		right: -5px;
	}
}

.ekko-lightbox-item.fade.show{
	.img-fluid{
		height: 100%;
	}
}

.ekko-lightbox .modal-footer{
		justify-content: flex-start;
 		background: rgba(0,0,0,.5);
 		border-top: 0;
 		color: #fff;
 		margin-left: 15px;
 		margin-right: 15px;
 		padding: 10px;
 		margin-bottom: 0;
 		position: absolute;
 		left: 0;
 		right: 0;
 		bottom: 15px;
 }


//NOTICIAS RELACIONADAS
.box-noticias-relacionadas{
	> div{
		@media (max-width: 767px) {
			margin-bottom: 1.5em;
		}
	}
}
.titulo-noticias-relacionadas{
	font-weight: 500;
}
.link-noticias-relacionadas{
	color: $titulo-color;
	text-decoration: none !important;
	&:hover{
		color: lighten($titulo-color, 3%);
	}
	&:visited{
		color: $titulo-color !important;
	}
	h5{
		color: inherit;
		font-size: 16px;
		font-weight: 700;
	}
}
.time-noticias-relacionadas{
	font-size: 12px;
}

.container-disqus{
	margin-top: 2em;
}

//CONTACTO
.content-icon-contacto{
	margin-bottom: 2em;
}
.box-icon-contacto{
	&:hover{
		.iconos{
			box-shadow: 0 0 0 5px #1b75bc;
			&::after{
	    	transform: scale(0.80);
	    	opacity: 0.5;
			}
		}
	}
	h4{
		font-weight: 300;
		margin: 0.5em;
	}
	p{
		font-size: 90%;
		text-align: center;
		margin-bottom: 5px;
	}
}
.iconos{
	border-radius: 50%;
	color: #9aa2a9;
	cursor: pointer;
	font-size: 35px;
	margin-bottom: 0.5em;
	position: relative;
	height: 80px;
	width: 80px;
	&:hover{
		color: #3498DB;
	}
	&::after{
		box-shadow: 0 0 0 3px #9aa2a9;
		pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: "";
    box-sizing: content-box;
    transition: transform 0.2s, opacity 0.2s;
	}
}

//Mapa
.map{
	margin-bottom:2em;
	height: 450px;
	width: 100%;
}
//Chat
.chat-drea{
	background: #fefefe;
	border: thin solid #0A8730;
	border-radius: 5px 5px 0 0;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 370px;
	z-index: 9999999999;
	&.minimizado{
		width: 250px;
	}
	.active{
		background: lighten($theme-color, 5%);
		border: transparent;
	}
	.minimizar, .maximizar{
		color: #fff;
		cursor: pointer;
		padding: 5px 10px;
		position: absolute;
		top: 5px;
		right: 5px;
	}
	.body.chat{
		padding: 0 15px;
		p{
			font-size: 90%;
		}
		.box-icon-oauth{
			display: block;
			text-align: right;
		}
		.fa{
			background: #474444;
			border-radius: 50%;
			color: #fff;
			height: 20px;
			width: 20px;
			margin-right: 5px;
			&:hover{
				text-decoration: none;
			}
			&-facebook{
				&:hover{
					background: rgb(51, 102, 153);
				}
			}
			&-google-plus-official{
				&:hover{
					background: rgb(219, 68, 55);
				}
			}
		}
	}
	.img{
		background: #3DB160;
		padding: 3px;
		margin: 5px 0;
		img{
			display: block;
			margin: 0 auto;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
	}
	
}