//=============================CONTENEDOR PRINCIPAL================
.site-container {
  position: relative;
  z-index: 10;
  min-height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}
//=====================================MAIN================
.titulo{
	text-align: center;
	margin-top: 0;
	margin-bottom: 1em;
	position: relative;
	width: 100%;
	&::before{
		background-color: $titulo-subrayado-color;
		content: "";
		margin-left: -5%;
		height: 5px;
		width: 10%;
		position: absolute;
		bottom: -7px;
		left: 50%;
		z-index: 99;
	}
}
//CAROUSEL MAIN
.box-slider-main{
	padding-left: 0;
	padding-right: 0;
}
.carousel-main{
	h2{
		color: #fff;
		@media (max-width: 991px) {
			font-size: 1.2em;
		}
		@media (max-width: 767px) {
			font-size: 1.1em;
		}
		@media (max-width: 575px) {
			font-size: 1em;
		}
	}
}
//===============SERVICIOS==================
.servicios{
	@media (max-width: 991px) {
		margin-bottom: 2em;
	}
}
.lista-servicios{
	margin-bottom: 0;
	.servicios-item{
		border: thin solid transparent;
		box-sizing: border-box;
		transition: all 0.500s linear;
		padding: 5px;
		margin-bottom: 10px;
		width: 50%;
		@media (max-width: 767px) {
			width: 100%;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&:hover{
			border: thin dotted $servicios-borde-color;
		}
	}
	.servicios-link{
		text-decoration: none !important;
		&:visited{
			text-decoration: none;
		}
		.fa{
			color: $servicios-iconos-color;
			font-size: 2.5em;
			width: 40px;
			margin-right: 5px;
		}
	}
	.servicios-contenido{
		width: 77%;
		small{
			color: $servicios-color;
		}
	}
	.servicios-titulo{
		color: $servicios-titulo-color;
		font-size: 1.1em;
	}
}

//==============================ACTUALIDAD==============================//
.actualidad-cabecera{
	position: relative;
}
.actualidad-ver-todos{
	background-color: $leer-mas-bg;
	border: 2px solid $leer-mas-color-borde;
	color: $color-blanco;
	letter-spacing: 2px; 
	margin-left: 10px;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	top: 0;
	&:hover{
		color: $color-negro;
	}
	&:visited{
		color: $color-blanco;
	}
}
.actualidad{
	margin-bottom: 1em;
	&:last-child{
		margin-bottom: 0;
	}
	.image{
		background-size: cover;
		background-position: center center;
		height: 145px;
		width: 30%;
		@media (max-width: 575px) {
			width: 35%;
		}
	}
	.actualidad-contenido{
		margin-left: 2%;
		width: 68%;
		@media (max-width: 575px) {
			width: 63%;
		}
	}
	.actualidad-vinculo{
		color: $actualidad-titulo-color;
	}
	.actualidad-titulo{
		color: inherit;
		font-size: 1.1em;
		margin-bottom: 0.7em;
	}
	.actualidad-parrafo{
		font-size: 0.9em;
		margin-bottom: 0.7em;
	}
	.actualidad-meta-leer-mas{
		background-color: $leer-mas-bg;
		border: thin solid transparent;
		color: $color-blanco;
		text-decoration: none;
		margin-left: 10px;
		padding: 5px 10px;
		&:hover{
			border: thin solid $leer-mas-color-borde;
			color: $color-negro;
		}
		&:visited{
			color: $color-blanco;
		}
	}
	.actualidad-meta-parrafo{
		font-size: 0.8em;
	}
	.actualidad-meta-parrafo{
		margin-bottom: 0;
		padding-top: 10px;
	}
}
//===============SLIDER FOTOS=====================
.fotos-carousel{
	max-height: 298px !important;
	overflow: hidden;
	@media (max-width: 991px) {
		max-height: 350px !important;
		margin-bottom: 2em;
	}
	@media (max-width: 1199px) {
		max-height: 248px !important;
	}
}

//===============SLIDER VIDEOS======================
.slider-videos{
	.bx-controls-direction{
		a{
			transition: none;
		}
	}
}

//===============DOCUMENTOS DE INTERES=====================
.documentos-interes{
	background-color: #91DBA7;
	> div + div{
		@media (max-width: 1199px) {
			margin-bottom: 1.5em;
		}
		@media (max-width: 575px) {
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.documentos-interes-link{
	color: $doc-int-color;
	font-size: 1em;
	text-decoration: none !important;
	&:hover{
		color: darken($doc-int-color, 10%);
	}
	.fa{
		color: $doc-int-color-icono;
		font-size: 2em;
		margin-right: 10px;
	}
}
//===============LIDER DREA=====================
.box-lideres{
	padding-left: 0;
	padding-right: 0;
}
.lideres_carousel{
	background-color: #ECF0F1;
}
.lider-drea{
	.lider-foto{
		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
	}
	.foto{
		border: 5px solid $color-azul;
		margin:  auto;
		height: 200px !important;
		width: 200px !important;
		@media (max-width: 767px) {
			display: block;
			height: 150px !important;
			width: 150px !important;
		}
	}
	.lider-nombre{
		margin-bottom: 15px;
	}
}
//===============REDES SOCIALES=====================
.box-redes-sociales{
	width: 50px;
	position: fixed;
	right: 1px;
	top: 50%;
	z-index: 9999999999;
}
.redes-sociales{
	margin-bottom: 0;
	.redes-item{
		overflow: hidden;
		border-bottom: thin solid #fff;
		&:first-child{
			border-radius: 12px 0 0 0;
		}
		&:last-child{
			border-radius: 0 0 0 12px;
			border-bottom: 0;
		}
	}
	.redes-link{
		background-color: #FCA086;
		text-decoration: none;
		height: 50px;
		width: 50px;
	}
	.fa{
		color: #fff;
		font-size: 2em;
		transition: all 0.300s linear;
		&:hover{
			color: #3A3737;
		}
	}
}

//================PÃGINA INTERNA======================
.cover{
	background-size: cover;
	background-position: center center;
	margin-bottom: 2em;
	height: 350px;
	width: 100%;
}
.contenido__articulo{

	img{
		margin-bottom: 1em;
	}
}
.lista-compartir-redes{
	li{
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
		a{
			color: #fff;
			text-decoration: none;
			height: 30px;
			width: 50px;
	    .fa{
	      font-size: 1.2em;
	    }
		}
		.facebook {
      background-color: $redes-facebook-bg;
      &:hover i{
        color: #111;
      }
    }
    .twitter {
      background-color: $redes-twitter-bg;
      &:hover i{
        color: #111;
      }
    }
    .google-plus {
      background-color: $redes-google-plus;
       &:hover i{
        color: #111;
      }
    }
	}
}
.box-noticias-relacionadas{
	> div{
		@media (max-width: 767px) {
			margin-bottom: 1.5em;
		}
	}
}
.titulo-noticias-relacionadas{
	font-size: 35px;
	font-weight: 700;
}
.link-noticias-relacionadas{
	color: $titulo-color;
	text-decoration: none !important;
	&:hover{
		color: lighten($titulo-color, 3%);
	}
	&:visited{
		color: $titulo-color !important;
	}
	h5{
		color: inherit;
		font-size: 16px;
		font-weight: 700;
	}
}
.time-noticias-relacionadas{
	font-size: 12px;
}