body{
	background-color: #F2F2F2; 
	font-family: $font-family-contenido;
	font-size: $font-size-base;
}
h1,h2,h3,h4,h5,h6{
	color: $titulo-color;
	font-family: $font-family-titulos;
}
img{
	max-width: 100%;
}
a{
	transition: all 0.500s ease;
}
blockquote{
	position: relative;
	margin-left: 0;
	margin-right: 0;
	padding-left: 1.5em;
	padding-right: 1.5em;
	p{
		font-size: 1.3em;
	}
	&::before{
		color: $color-azul;
		content: "\f10d";
		font-family: "FontAwesome";
		position: absolute;
		left: 5px;
		top: 0;
	}
	&::after{
		color: $color-azul;
		content: "\f10e";
		font-family: "FontAwesome";
		position: absolute;
		right: 5px;
		bottom: 0;
	}
}