//Colores
$color-blanco: #fff;
$color-gris: #BEBBBB;
$color-azul: #6AABEE;
$color-negro: #3D3939;
$color-verde: #0A872F;

//Font
$font-family-titulos: 'Open Sans', sans-serif;
$font-family-contenido: 'Lato', sans-serif;
$font-size-base: 16px;

$theme-color: #0A8730;

//HEADER
$header-redes-link-color: #009933;

//MENU
$menu-bg: $theme-color;
$menu-height: 62px;
$menu-border-height: 8px;
$menu-border-bottom-color: #85C226;

$menu-link-color: #fff;
$menu-link-color-hover: #1E1C1C;
$menu-z-index: 100;
$menu-sub-menu-ancho: 320px;

//MENU MOBILE
$submenu-bg: #1AA644;
$menu-border-color: #5A0029;



//LAYOUT
$titulo-color: #18814B;
$titulo-subrayado-color: $theme-color;

//SERVICIOS 
$servicios-color: #272525;
$servicios-iconos-color: #666666;
$servicios-titulo-color: #18814B; //BCG
$servicios-borde-color: $servicios-titulo-color;//BCG

//ACTUALIDAD
$actualidad-titulo-color: $servicios-titulo-color; //BCG
$leer-mas-bg: #55D783;
$leer-mas-color-borde: #0A872F;

//DOCUMENTOS INTERES
$doc-int-color: #484646;
$doc-int-color-icono: #666666;

//REDES SOCIALES
$redes-facebook-bg: #336699;
$redes-twitter-bg: #0099CC;
$redes-youtube-bg: #CC3333;
$redes-google-plus: #DB4437;

//GALERIA DE FOTOS
$overlay_dark:                          rgba(0, 0, 0, .6);              
$overlay_dark_fallback:                 #333;                           
$overlay_colored:                       rgba(26, 74, 114, .6);         
$overlay_colored_fallback:              #1a4a72;

@mixin transform($property: none) {
//  none | <transform-function>
  transform: $property;
}


//FOOTER
$bg-footer: #666666;


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

